.sidebar{
    background-color: azure;
    width: 30vw;
    height: 680px;
}
.query{
    height: 300px;
    overflow: scroll;
}

.tables{
    overflow: scroll;
    height: 400px;
}

.sqlresult{
    width: 70vw;
}